---
- name: Ensure group for prometheus user exists
  group:
    name: '{{ gitlab_pipelines_exporter_group }}'
    state: present

- name: Add user prometheus user
  user:
    name: '{{ gitlab_pipelines_exporter_user }}'
    home: '{{ gitlab_pipelines_exporter_user_home }}'
    group: '{{ gitlab_pipelines_exporter_group }}'
    shell: '{{ gitlab_pipelines_exporter_user_shell }}'
    state: present

- name: Create gitlab_pipelines_exporter directory
  file:
    path: '{{ gitlab_pipelines_exporter_install_path }}'
    owner: '{{ gitlab_pipelines_exporter_user }}'
    group: '{{ gitlab_pipelines_exporter_group }}'
    mode: 0755
    state: directory

- name: Creating gitlab-pipeline_exporter config directory
  file:
    path: '{{ gitlab_pipelines_exporter_config_path }}'
    owner: '{{ gitlab_pipelines_exporter_user }}'
    group: "{{ gitlab_pipelines_exporter_group }}"
    mode: 0755
    state: directory

- name: Download and extract gitlab-pipeline_exporter tarball
  unarchive:
    src: '{{ gitlab_pipelines_exporter_download_url }}'
    dest: '{{ gitlab_pipelines_exporter_install_path }}'
    owner: '{{ gitlab_pipelines_exporter_user }}'
    group: '{{ gitlab_pipelines_exporter_group }}'
    copy: no
    creates: '{{ gitlab_pipelines_exporter_install_path }}/gitlab-ci-pipelines-exporter'

- name: Copy gitlab_pipelines_exporter config
  template:
    src: 'gitlab_pipelines_exporter.yml.j2'
    dest: '{{ gitlab_pipelines_exporter_config_path }}/config.yml'
    owner: '{{ gitlab_pipelines_exporter_user }}'
    group: '{{ gitlab_pipelines_exporter_group }}'
  notify: restart gitlab_pipelines_exporter

- name: Install gitlab_pipelines_exporter systemd service
  template:
    src: 'gitlab_pipelines_exporter.service.j2'
    dest: '/etc/systemd/system/gitlab_pipelines_exporter.service'
    owner: '{{ gitlab_pipelines_exporter_user }}'
    group: '{{ gitlab_pipelines_exporter_group }}'
    mode: 0644
  notify:
    - reload systemd_daemon
    - restart gitlab_pipelines_exporter

- meta: flush_handlers

- name: start and enable nginx_exporter
  service:
    name: 'gitlab_pipelines_exporter.service'
    enabled: yes
    state: started
