###################################
# {{ansible_managed}} #
###################################

[Unit]
Description=Prometheus Gitlab pipelines exporter service
After=network.target
Wants=network.target

[Service]
ExecStart={{ gitlab_pipelines_exporter_install_path }}/gitlab-ci-pipelines-exporter run --config {{ gitlab_pipelines_exporter_config_path }}/config.yml
Restart=always
RestartSec=20
TimeoutSec=300
User={{ gitlab_pipelines_exporter_user }}
Group={{ gitlab_pipelines_exporter_group }}
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
